# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
