# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
# local env files
.env*.local
.env
config.js

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Temporary Diagnostic and Build Files
/dist_local_test/
/dist_test/
check_report*.txt
doctor_*.txt
export_log.txt
export_report.txt
DEV_PROGRESS_*.md
